<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kpopidle – A Daily K-Pop Guessing Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>

  <body>
    <div class="container">
      <header class="top-bar">
        <img src="static/logo3.png" class="logo" />
        <h1 class="top-writing">
          <span class="title-purple">A Daily K-POP<br /></span>
          <span class="title-pink">Guessing Game</span>
        </h1>
        <div class="nav-buttons">
          <button class="nav-btn left-child" id="open-about">About</button>
          <button class="nav-btn" id="open-stats">Stats</button>
          <button class="nav-btn" id="open-help">Help</button>
          <button class="nav-btn right-child" id="open-previous">
            Previous
          </button>
        </div>
      </header>
      <div class="about pop-up" id="about">
        <div class="about-inner pop-up-inner">
          <h2>Welcome to Kpopidle, a daily K-Pop guessing game!</h2>
          <p>
            Kpopidle is a daily guessing game where you need to guess the idol
            with 8 tries! Use the hints available and view the silhouette if you
            need extra help! Goodluck! Idol will change everyday at 12 AM PST
          </p>
          <button class="close-button" id="close-about">Close</button>
        </div>
      </div>
      <div class="stats pop-up" id="stats">
        <div class="stats-inner pop-up-inner">
          <h2>Stats</h2>
          <p>stats</p>
          <button class="close-button" id="close-stats">Close</button>
        </div>
      </div>
      <div class="help pop-up" id="help">
        <div class="help-inner pop-up-inner">
          <h2>Rules</h2>
          <ul class="rules-list">
            <li>You have 8 tries to guess the correct idol!</li>
            <li>
              If you need extra help, feel free to view the idol's silhouette.
            </li>
            <li>
              If the idol you guessed has a similar feature, a hint will be
              shown.
            </li>
            <li>
              If the hint is yellow, that means your guess is within 2 years!
            </li>
            <li>If height is yellow, that means your guess is within 5 cm!</li>
          </ul>
          <button class="close-button" id="close-help">Close</button>
        </div>
      </div>
      <div class="previous pop-up" id="previous">
        <div class="previous-inner pop-up-inner">
          <h2>Previous games</h2>
          <p>previous</p>
          <button class="close-button" id="close-previous">Close</button>
        </div>
      </div>
      <main class="game">
        <div class="search-area">
          <input
            type="text"
            id="game-search"
            placeholder="🫰🏼Search for an idol!"
            autocomplete="off"
          />
          <div class="game-buttons">
            <button class="nav-btn" id="silhouette-button">
              Show Silhouette
            </button>
            <button class="timerButton nav-btn" id="timer">00:00</button>
          </div>
        </div>
        <ul class="suggestions"></ul>
        <table class="game-table">
          <thead>
            <tr class="table-header">
              <th>Name</th>
              <th>Group</th>
              <th>Label</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Height</th>
              <th>Debut</th>
            </tr>
          </thead>
          <tbody class="game-body" id="guess-table">
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
            <tr>
              <td colspan="7">?</td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
    <footer class="privacy-policy">Privacy Policy</footer>
  </body>
</html>
